/*<======= classes and styling used across several pages ======>*/
header, .howtohire, footer, .index .aboutme, .index .project, .portfolio .portproject, .contact main {
  display: flex;
  flex-direction: column;
  align-items: center; }

footer .fa {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  width: 100%;
  font-family: Poppins, sans-serif;
  margin: 0;
  color: white;
  background-color: #202020; }

a {
  color: white;
  text-decoration: none; }

p {
  text-align: center;
  margin: 0 20%;
  line-height: 1.618;
  font-size: 2.25vh; }

.forFadeIn {
  transition: opacity 500ms ease-in;
  opacity: 0; }

.fadein {
  opacity: 1 !important; }

header {
  min-height: 100vh;
  padding: 10vh 0;
  box-sizing: border-box; }
  header h1 {
    line-height: 0.85;
    margin: 0;
    text-align: center; }
  header h2 {
    font-size: 4vh;
    font-family: Poppins, sans-serif; }
  header p {
    margin-top: 0;
    margin-bottom: 4vh; }

.big {
  font-size: 25vh;
  line-height: 1;
  display: block; }

.smaller {
  font-size: 17.5vh;
  line-height: 0.6; }

h1,
h2 {
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: center; }

.buttons {
  padding: 2vh 3.5vh;
  border-radius: 0.5vh 3vh;
  border: 1px solid white;
  font-family: Poppins, sans-serif;
  font-size: 2vh; }
  .buttons:hover {
    background-color: white;
    color: black;
    transition: background-color 500ms; }

nav {
  width: 100%;
  margin-top: 2vh;
  padding: 2vh 0 4vh;
  font-weight: bolder;
  overflow: hidden; }
  nav ul {
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: center; }
  nav li {
    list-style-type: none;
    font-size: 2.25vh;
    margin: 0 3.5vh;
    transition: all .2s ease-in-out; }
    nav li:hover {
      transform: scale(1.5); }
  nav a:hover {
    color: black; }

.mobilenav {
  display: none;
  user-select: none;
  padding: 1vh;
  font-size: 7vh;
  line-height: 1; }

.mobilenavblack {
  color: black;
  transform: scale(1.5);
  transition: transform 50ms ease-in; }

main {
  width: 100%;
  height: 100%; }
  main h2 {
    margin: 0; }

.howtohire {
  padding: 5vh 0;
  justify-content: center;
  background: url(images/maze-black.webp) #0F1011; }
  .howtohire h2 {
    font-size: 14vh;
    color: black;
    line-height: 0.8; }
  .howtohire h3 {
    font-size: 3vh;
    margin: 1.75vh 0; }
  .howtohire p {
    margin-bottom: 2vh; }

footer {
  padding: 5vh 0;
  background: url(images/shattered-dark.webp) #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  footer .info {
    grid-column: 2; }
  footer h4 {
    font-size: 2.125vh;
    margin: 0;
    text-align: center; }
  footer p {
    font-size: 1.6125vh;
    margin: 0; }
  footer .links {
    width: 10vw;
    margin: 4vh auto 0;
    display: flex;
    justify-content: space-between; }
  footer .fa {
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    font-size: 2.5vh; }
  footer .fa-facebook {
    background-color: #3b5998; }
  footer .fa-twitter {
    background-color: #55acee; }
  footer .fa-linkedin {
    background-color: #0077B5; }
  footer .signature {
    align-self: start;
    display: flex;
    flex-direction: column;
    margin-left: 5vw; }
    footer .signature p {
      text-align: start;
      font-family: Lato, sans-serif;
      font-size: 8vh;
      font-weight: bolder;
      color: #151618;
      line-height: 1; }

/*<======= end of classes and styling used across several pages =====>*/
/*<======= styling of individual pages ======>*/
.index header {
  background-image: url(images/home_background.jpg);
  background-size: cover; }
.index .aboutme {
  padding: 6vh 0;
  background: url(images/black-thread.webp) #1B1D1F; }
  .index .aboutme h2 {
    font-size: 16vh;
    margin: 0;
    line-height: 1; }
  .index .aboutme h3 {
    font-size: 3vh;
    margin: 2vh 0; }
.index .projects {
  display: flex; }
.index .project {
  justify-content: center;
  min-width: 33.3333333333%;
  text-align: center;
  padding: 10vh 0;
  height: 20vh; }
  .index .project h3 {
    margin: 0;
    font-size: 6.5vh;
    font-family: Lato, sans-serif;
    line-height: 0.9; }
  .index .project p {
    margin: 2vh 2.5vh;
    font-size: 2.25vh; }
  .index .project .buttons {
    font-size: 2vh; }
.index .howtohire {
  margin-top: -4vh; }
.index .projects1 {
  background: linear-gradient(135deg, #4dd2ff 0%, #63d4bd 100%); }
.index .projects2 {
  background: linear-gradient(135deg, #f9138a 2%, #b71215 100%);
  padding-bottom: 14vh; }
.index .projects3 {
  background: linear-gradient(135deg, #15d6b2 1%, #e5e516 100%); }

.portfolio header {
  background: linear-gradient(135deg, #14662f 0%, #46aa46 99%); }
.portfolio .portprojects {
  width: 100%;
  height: 100%; }
.portfolio .portproject {
  justify-content: center;
  min-width: 33.3333333333%;
  text-align: center;
  padding: 10vh 0;
  height: 20vh; }
  .portfolio .portproject h2 {
    margin: 0;
    font-size: 6.5vh;
    font-family: Lato, sans-serif;
    line-height: 0.9; }
  .portfolio .portproject p {
    margin: 2vh 2.5vh;
    font-size: 2.25vh; }
.portfolio .portproject1 {
  background: linear-gradient(135deg, #4dd2ff 0%, #63d4bd 100%); }
.portfolio .portproject2 {
  background: linear-gradient(135deg, #f9138a 2%, #b71215 100%); }
.portfolio .portproject3 {
  background: linear-gradient(135deg, #15d6b2 1%, #e5e516 100%); }
.portfolio .portproject4 {
  background: linear-gradient(135deg, #d8d8d8 0%, #f2f2f2 100%);
  color: black; }

.projectscarousel header {
  background: linear-gradient(135deg, #4dd2ff 0%, #63d4bd 100%); }
.projectscarousel .carouselouter {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto; }
  .projectscarousel .carouselouter .carouselinner {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .projectscarousel .carouselouter .carouselinner .slides {
      display: block;
      width: 300%;
      height: 100%;
      margin: 0 0 0 -100%;
      padding-left: 0; }
      .projectscarousel .carouselouter .carouselinner .slides .slide {
        float: left;
        list-style-type: none;
        width: calc(100% / 3);
        height: 100%; }
      .projectscarousel .carouselouter .carouselinner .slides .one {
        background-color: red; }
      .projectscarousel .carouselouter .carouselinner .slides .two {
        background-color: blue; }
      .projectscarousel .carouselouter .carouselinner .slides .three {
        background-color: green; }
  .projectscarousel .carouselouter .arrow {
    height: 35px;
    width: 35px;
    border-bottom: 2px solid black;
    cursor: pointer;
    position: absolute; }
  .projectscarousel .carouselouter .left {
    transform: rotate(45deg);
    border-left: 2px solid black;
    left: 15%; }
  .projectscarousel .carouselouter .right {
    transform: rotate(315deg);
    border-right: 2px solid black;
    right: 15%; }

.images header {
  background: linear-gradient(135deg, #f9138a 2%, #b71215 100%); }
.images .mouseanim {
  min-height: 11.5vh;
  width: 4.75vh;
  border: 1.5px solid white;
  border-radius: 3vh; }
.images .mainimagesouter {
  background-color: gainsboro; }
.images .mainimagesinner {
  width: 60%;
  margin: 0 auto;
  padding: 2.5% 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 5vh; }
  .images .mainimagesinner div {
    width: 400px;
    height: 33.3333333333vh;
    background-color: red; }

.contact header {
  background: linear-gradient(135deg, #ff6beb 3%, #354ba3 100%); }
.contact main {
  color: black;
  background: url(images/axiom-pattern.webp) #e3e3e3;
  padding: 8vh 0; }
  .contact main h2 {
    margin: 0;
    color: white;
    font-size: 17.5vh;
    line-height: 0.8; }
  .contact main p {
    margin-top: 4vh; }
.contact form {
  width: 100%;
  padding: 0 25%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }
  .contact form input:not([type=submit]), .contact form textarea {
    border: 1px solid grey;
    background-color: transparent;
    font-family: Poppins, sans-serif;
    font-size: 2vh;
    margin-top: 4vh;
    width: 100%;
    height: 5vh;
    padding: 2vh;
    border-radius: 2px;
    box-sizing: border-box; }
  .contact form textarea {
    resize: vertical;
    height: 15vh;
    padding: 1vh 2vh 1vh;
    border-radius: 2px; }
  .contact form .buttons {
    background: indianred;
    border: 1px solid indianred;
    margin: 2vh auto 0;
    color: white; }
    .contact form .buttons:hover {
      background-color: whitesmoke;
      color: black;
      transition: background-color 500ms;
      border: 1px solid white; }

.aboutmepage header {
  background: linear-gradient(135deg, #29d1a4 1%, #00e2ea 100%); }
.aboutmepage .story {
  background: url(images/black-thread.webp) #1B1D1F; }
.aboutmepage .whatido {
  background: url(images/axiom-pattern.webp) #e3e3e3;
  color: black; }
.aboutmepage .values {
  background: url(images/dark-geometric.webp) #ababab;
  color: black; }
.aboutmepage .aboutmepart {
  text-align: center;
  padding: 8vh 0; }
  .aboutmepage .aboutmepart h2 {
    line-height: 0.8;
    margin-bottom: 2.5%;
    font-size: 20vh;
    color: black; }
  .aboutmepage .aboutmepart p {
    font-size: 2.5vh; }

/*<======= Start of css lines responsible for responsive behaviour*/
@media screen and (max-width: 1366px) {
  .images .mainimagesinner {
    grid-template-columns: 1fr 1fr; } }
@media screen and (max-width: 1024px) {
  .buttons {
    margin-top: 0;
    font-size: 2.5vh; }

  .big {
    font-size: 15vh; }

  .smaller {
    font-size: 12vh; }

  .shorter {
    font-size: 10vh; }

  header h2 {
    margin: 3vh 6vh;
    line-height: 1.2; }
  header p {
    font-size: 2.5vh; }

  nav {
    display: none;
    margin: 2vh;
    padding: 0;
    height: 0; }
    nav ul {
      flex-direction: column;
      text-align: center; }
    nav li {
      margin: 0;
      padding: 1.5vh 0;
      line-height: 1;
      font-size: 3.5vh; }
      nav li:hover {
        transform: scale(1); }

  .mobilenav {
    display: inline-block; }

  .howtohire h2 {
    font-size: 9vh;
    line-height: 0.8; }
  .howtohire h3 {
    text-align: center;
    margin: 3vh 0; }

  footer {
    grid-template-columns: 1fr; }
    footer .signature {
      display: none; }
    footer .links {
      width: 40%; }
    footer h4 {
      font-size: 3vh; }
    footer p {
      font-size: 2vh; }
    footer a {
      width: 6vh;
      height: 6vh; }
    footer .info {
      justify-self: center;
      width: 100%;
      grid-column: auto; }

  p {
    margin: 0 10%;
    font-size: 2.5vh; }

  .index .aboutme h2 {
    font-size: 12vh; }
  .index .aboutme h3 {
    margin: 5% 10%;
    text-align: center; }
  .index .projects {
    flex-direction: column; }
  .index .howtohire {
    margin-top: 0; }

  .index .project,
  .portfolio .portproject {
    min-height: 35vh;
    padding: 6vh 2vh; }
    .index .project p,
    .portfolio .portproject p {
      font-size: 2.5vh;
      margin: 2vh 0; }
    .index .project .buttons,
    .portfolio .portproject .buttons {
      font-size: 2.5vh; }

  .contact main h2 {
    font-size: 18vh; }
  .contact form {
    padding: 0 5%; }
    .contact form input:not([type=submit]),
    .contact form textarea {
      margin-top: 4vh;
      height: 7.5vh;
      font-size: 3vh; }
    .contact form .buttons {
      font-size: 2.75vh;
      margin-top: 4vh; }

  .aboutmepage .aboutmepart h2 {
    font-size: 11vh;
    margin-bottom: 2.5vh; }

  .images .mainimagesinner {
    grid-template-columns: 1fr;
    grid-gap: 2.5vh; }
    .images .mainimagesinner div {
      width: 90vw; } }

/*# sourceMappingURL=styles.css.map */
